body {
    background: #a9a9a9;
    margin: 0;
    padding: 0;
    color: #ead9c3;
    font-size: 17px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#student-list {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 8px 4px black;
}


#student-list th, td {
    text-align: left;
    padding: 15px 7px 15px 7px;
}

#student-list tr {
    background: #595959;
    box-shadow: 0 -1px 2px 1px #9e9e9e;
}

#student-list-wrapper {
    width: 100%;
}

.delete-button {
    border-radius: 5px;
    background-color: #f44336;
    border: none;
    color: inherit;
    padding: 7px 20px 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

input[type=text], input[type=number], input[type=email], select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #c7c7c7;
}

#filter-students {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#filter-students input, select {
    width: 45%;
    padding: 10px;
}

#add-student-wrapper {
    width: 60%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 15px;
    background: #595959;
    box-shadow: 0 0 11px 3px black;
}

#add-student input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

#add-student input[type=submit] {
    width: 100%;
    background-color: #bf9d4f;
    color: #060606;
    font-size: 17px;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#add-student label {
    margin-left: 5px;
}

.main {
    margin: 15px auto;
    width: 75%;
}

.center-text {
    position: relative;
    margin: auto;
    width: 220px;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.font-23 {
    font-size: 23px;
}

.sub-menu-wrapper {
    width: 100%;
    padding: 20px 0 30px 0;
    background: #383838;
    margin: auto auto 30px auto;
    box-shadow: 0 7px 15px 3px black;
}

.sub-menu {
    width: 75%;
    margin: auto;
}

@media screen and (max-width: 1040px) {
    .main {
        width: 97%;
        padding: 10px;
    }

    #student-list-wrapper {
        overflow-x: scroll;
    }
}

/*NAVBAR*/
.active {
    background: #383838;
}

.nav-wrapper {
    width: 100%;
    background-color: #333;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    position: relative;
}

.title, .toggle {
    display: none;
}


.nav-items {
    display: flex;
}

.item a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 20px 20px 20px 20px;
}

.item a:hover {
    text-decoration: underline;
}

.toggle a:hover {
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
    cursor: context-menu;
}

.selector-top {
    border-top: 5px solid grey;
}

@media screen and (max-width: 750px) {
    #add-student-wrapper {
        width: 90%;
        padding: 7px 13px 7px 13px;
    }

    #filter-students input, select {
        margin: 10px 0;
        width: 100%;
    }


    .nav {
        width: 100%;
        flex-direction: column;
    }

    .nav-items {
        display: none;
        flex-direction: column;
    }

    .item a {
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .title a {
        text-align: left;
    }

    .toggle {
        display: initial;
        cursor: pointer;
        align-self: flex-end;
        right: 15px;
        position: absolute;
    }

    .title {
        display: initial;
        padding-left: 25px;
    }

    .toggle-show {
        display: flex;
    }

    .selector-top {
        border: none;
    }
}
